<%- include('partials/header') -%>

    <button onclick="topFunction()" id="myBtn" class="btn" title="Go to top">BACK TO TOP</button>

    <a class="btn share-btn" href="/dashboard"><button class="btn share-btn">SHARE YOUR AQUARIUM</button></a>

    <section id="sort-by" class="full-width">
      <div id="sort-items" class="full-width">
        <i class="fa-solid fa-filter fa-2x"></i>
      </div>
      <section id="filter-section" class="hidden full-width">
        <form id="filter-form">
          <h2>Sort and Filter</h2>

        </form>
      </section>

      <!-- <section id="sort-items">
        <h3>Sort By: </h3>
        <span id="first-sort" class="sort-items" data-id="new"><a href="/new">New</a></span>
        <span class="sort-items" data-id="old"><a href="/old">Old</a></span>
        <span class="sort-items" data-id="liked"><a href="/liked">Liked</a></span>
        <span class="sort-items" data-id="big"><a href="/big">Tank Size Big</a></span>
        <span class="sort-items" data-id="small"><a href="/small">Tank Size Small</a></span>
      </section> -->
    </section>


    <% for(let i=0; i < aquariums.length; i++) {%>
      <section class="flex-basics bigger-text displays">
        <div class="display-container" data-id='<%=aquariums[i]._id%>'>
          <div class="full-width displays-divs">
            <h2 class="bigger-text displays-items"><span class="bigger-text displays-items upper"><%= aquariums[i].name %></span></h2>
          </div>
          <div class="full-width flex-basics main-pic">
            <img class="displays-items" src="<%= aquariums[i].images[0] %>" alt="Fish tank">
          </div>
          <div class="full-width displays-divs flex-basics">
            <% for (let j = 0; j < aquariums[i].images.length; j++) { %>
              <img class="img-icons" src="<%= aquariums[i].images[j] %>" data-url="<%= aquariums[i].images[j] %>">
            <% } %>
          </div>



          <div class="displays-divs">
            <div class="full-width displays-items" id="likes">
              <div>
                <% if (currentUser) { %>
                  <% if(aquariums[i].liked.includes(currentUser.id)) { %>
                    <i class="fa fa-solid fa-thumbs-up fa-2x like-btn" style="color:blue"></i>
                  <% } else { %>
                    <i class="fa fa-solid fa-thumbs-up fa-2x like-btn"></i>
                  <% } %>
                <% } else { %>
                  <i class="fa fa-solid fa-thumbs-up fa-2x"></i>
                <% } %>
                <span class="icon-text">Likes: <%= aquariums[i].likes %></span>
              </div>
              <% if (!currentUser) { %>
                <span class="like-no-user"><a href="/dashboard/login">Must be signed in to like posts</a></span>
              <% } %>
            </div>
          </div>
          <div class="full-width displays-divs">
            <hr class="displays-items">
          </div>
          <div class="full-width displays-divs">
            <h3 class="regular-text displays-items">Tank: <span class="regular-text displays-items" style="text-transform:uppercase"><%= aquariums[i].tankSize %> <%= aquariums[i].measurementType %>, <%= aquariums[i].waterType %> water</span></h3>
          </div>
          <div class="full-width displays-divs">
            <h3 class="regular-text displays-items"><span class="regular-text displays-items"><%= aquariums[i].description %></span></h3>
          </div>
        </div>
      </section>
    <% } %>


    <%- include('partials/footer') -%>

    <script src="main.js"></script>
  </body>
</html>
